<html>
  <body>
    Bonjour <%= user.firstName %>,</br>
    </br>
    Votre mot de passe pour accéder au <a href="<%= evseDashboardURL %>">EVSE Dashboard</a> a été réinitialisé avec succès !</br>
    </br>
    Votre nouveau mot de passe est : <span class="password"><%= newPassword %></span></br>
    </br>
    Cordialement,</br>
    EVSE Admin.
  </body>
</html>
