[submodule "src/assets/configs-aws"]
	path = src/assets/configs-aws
	url = git@github.wdf.sap.corp:E-Mobility/ev-aws.git
	branch = master
[submodule "src/integration/pricing/convergent-charging"]
	path = src/integration/pricing/convergent-charging
	url = git@github.wdf.sap.corp:E-Mobility/ev-sap-pricing-convergent-charging.git
	branch = master
[submodule "src/integration/refund/concur"]
	path = src/integration/refund/concur
	url = git@github.wdf.sap.corp:E-Mobility/ev-sap-refund-concur.git
	branch = master
[submodule "src/integration/smart-charging/sap-smart-charging"]
	path = src/integration/smart-charging/sap-smart-charging
	url = git@github.wdf.sap.corp:E-Mobility/ev-sap-smart-charging.git
	branch = master
[submodule "src/assets/charging-station-templates"]
	path = src/assets/charging-station-templates
	url = git@github.wdf.sap.corp:E-Mobility/ev-sap-charging-station-templates.git
	branch = master
[submodule "src/assets/configs-ci"]
	path = src/assets/configs-ci
	url = git@github.wdf.sap.corp:E-Mobility/ev-ci.git
	branch = master
[submodule "src/assets/configs-scp"]
	path = src/assets/configs-scp
	url = git@github.wdf.sap.corp:E-Mobility/ev-scp.git
    branch = master-qa
