[submodule "src/assets/configs-aws"]
	path = src/assets/configs-aws
	url = ../../sap-labs-france/ev-aws.git
	branch = master
[submodule "src/assets/configs-ci"]
	path = src/assets/configs-ci
	url = ../../sap-labs-france/ev-ci.git
	branch = master
[submodule "src/assets/charging-station-templates"]
	path = src/assets/charging-station-templates
	url = ../../sap-labs-france/ev-sap-charging-station-templates.git
	branch = master
