<html>
  <body>
    Hi <%= user.firstName %>,</br>
    </br>
    Welcome to the <a href="<%= evseDashboardURL %>">EVSE Dashboard</a>!</br>
    </br>
    Your account has been successfully created.</br>
    </br>
    Best Regards,</br>
    EVSE Admin.
  </body>
</html>
