<html>
  <head id="<%- body.template %>"></head>
	<body align="left" style="margin: 15px;">
    <!-- Header -->
    <table width="768" border="0" cellspacing="0" cellpadding="0">
      <tr style="background-color: #1976d2;">
        <td>
          <table width="768" border="0" cellspacing="0" cellpadding="0">
            <tr height="90">
              <td width="180" style="padding: 10px;" align="center">
                <img height="<%- body.header.image.left.height %>"
                  alt="Logo"
                  src="<%- body.header.image.left.url %>">
              </td>
              <td align="center" style="padding: 10px;border-color:white;border-width: 2px;border-left-style: solid;border-right-style: solid;">
                <font size="5" color="white" face="sans-serif"><strong><%- body.header.title %></strong></font>
              </td>
              <td width="180" style="padding: 10px;" align="center">
                <img height="<%- body.header.image.right.height %>"
                  alt="Image"
                  src="<%- body.header.image.right.url %>">
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- Content -->
    <table width="768" bgcolor="white" border="0" cellspacing="0" cellpadding="0" style="border-spacing: 0 15px;">
      <!-- Before Action -->
      <tr><td colspan="3" style="padding: 10px 0;">&nbsp;</td></tr>
      <% for (var i = 0; i < body.beforeActionLines.length; i++) { %>
        <tr>
          <td colspan="3" style="padding: 10px 5px 5px 20px;">
            <font size="4" face="sans-serif">
              <%- body.beforeActionLines[i] %>&nbsp;
            </font>
          </td>
        </tr>
      <% } %>
      <!-- Stats -->
      <% if (body.stats) { %>
        <% for (var i = 0; i < body.stats.length; i++) { %>
          <tr><td colspan="3" style="padding: 15px 0 0 0;">&nbsp;</td></tr>
          <tr>
            <td align="center" colspan="3">
              <table width="100%" bgcolor="white" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td style="width: 30%;"></td>
                  <td align="center" height="80" style="padding: 10px;line-height:1.3;background-color: #1976d2;border-radius: 10px;">
                    <font size="4" color="white" face="sans-serif">
                      <%- body.stats[i].label %><br/>
                    </font>
                    <font size="6" color="white" face="sans-serif">
                      <strong><%- body.stats[i].value %></strong>
                    </font>
                  </td>
                  <td style="width: 30%;"></td>
                </tr>
              </table>
            </td>
          </tr>
        <% } %>
      <% } %>
      <!-- Action -->
      <% if (body.actions) { %>
        <tr><td colspan="3">&nbsp;</td></tr>
        <% for (var i = 0; i < body.actions.length; i++) { %>
        <tr style="margin-bottom: 10px;">
          <td style="width: 30%;"></td>
          <td align="center" height="50" style="background-color: #1976d2;border-radius: 10px;">
            <a id="action-url" style="text-decoration:none;" href="<%- body.actions[i].url %>" target="_blank">
              <font size="4" color="white" face="sans-serif">
                <strong><%- body.actions[i].title %></strong>
              </font>
            </a>
          </td>
          <td style="width: 30%"></td>
        </tr>
        <% } %>
        <tr><td colspan="3" style="padding: 10px 0;">&nbsp;</td></tr>
      <% } %>
      <!-- After Action -->
      <% for (var i = 0; i < body.afterActionLines.length; i++) { %>
        <tr>
          <td colspan="3" style="padding: 5px 0 0 20px;">
            <font size="4" face="sans-serif">
              <%- body.afterActionLines[i] %>&nbsp;
            </font>
          </td>
        </tr>
      <% } %>
      <tr><td colspan="3" style="padding: 10px 0;">&nbsp;</td></tr>
    </table>
    <!-- Footer -->
    <table width="768" border="0" cellspacing="0" cellpadding="0">
      <tr style="background-color: #1976d2;">
        <td>
          <table width="768" border="0" cellspacing="0" cellpadding="0">
            <tr height="40">
              <td width="180" align="center">
              </td>
              <td align="center">
              </td>
              <td width="180" align="right" style="padding-right: 15px;">
                <a style="text-decoration:none" href="http://chargeangels.fr/" target="_blank">
                  <font size="3" color="white" face="sans-serif"><i>e-Mobility</i></font>
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
	</body>
</html>

