<html>
  <body>
    Bonjour <%= user.firstName %> <%= user.name %>,</br>
    </br>
    Bienvenue dans l'<a href="<%= evseDashboardURL %>">EVSE Dashboard</a> !</br>
    </br>
    Votre compte a été créé avec succès.</span></br>
    </br>
    Cordialement,</br>
    EVSE Admin.
  </body>
</html>
