<html>
  <body>
    Hi <%= (user.firstName?user.firstName:user.name) %>,</br>
    </br>
    Your password to access the <a href="<%= evseDashboardURL %>">EVSE Dashboard</a> has been reset successfully!</br>
    </br>
    Your new password is: <span class="password"><%= newPassword %></span></br>
    </br>
    Best Regards,</br>
    EVSE Admin.
  </body>
</html>
